@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    backdrop-filter: unset;

}

body {
    font-family: Abel, sans-serif;

    background-color: rgba(0, 0, 0, 0.7);


}

a {

    text-decoration: none;
}

/*Header and Nav*/

header {
    height: 100px;
    width: 100%;
    background-color: black;
    position: sticky;





}

h1,
h2 {
    font-family: Anton, sans-serif;
}

#logo {
    float: left;
    margin: 20px 0 0 50px;
    font-size: 48px;
    font-weight: 300;
    color: #0577CE;
    text-shadow: 2px 2px black;


}

#logo>span {
    color: #75C1FB;
    padding: 2px;
}

nav {
    float: right;
    margin: 40px 5% 0 0;


}

li {
    list-style-type: none;
    padding: 60px 60px 0 60px;
    display: inline;
    font-size: 32px;
    font-weight: 200;


}

li a {
    text-decoration: none;
    color: white;


}

li a:hover {
    text-decoration: underline;
}

.home {
    width: 100%;
    height: 600px;
    border-bottom: 1px solid rgb(10, 54, 10);
    border-top: 1px solid rgb(10, 54, 10);




}

#home-img {
    background-image: url(../images/two-gamers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height: 100%;
    width: 100%;
    padding: 0px;


}



#foreground-color {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 0;
    background-color: rgba(4, 7, 4, 0.2);
    border: 1px solid transparent;






}

#welcome {

    max-width: 30%;
    margin: 0 auto;
    padding-top: 70px;





}

#welcome>h2 {
    font-size: 36px;
    font-weight: 500;
    color: white;
    text-shadow: 5px 5px 3px black;
    text-align: center;

}

#welcome a {
    color: white;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;

}

/* Partner logo */

.partners {
    background-color: black;
    height: 400px;



}

#partner-heading {
    color: white;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
    font-size: xx-large;
}

.partner-container {


    height: 100%;
    width: 80%;
    margin: 0 auto;
}


.partner-col {
    width: 20%;
    height: 75%;
    text-align: center;
    display:inline-block;
    padding-left: 30px;
    margin-top: 20px;
}


.partner-col img {

    display: block;
    margin: 0 auto;
    width: 50%;
    text-shadow: 5px 5px 10px black;
    max-height: 50%;
    margin-bottom: 20px;

}

#ea {
    max-width: 50%;
}






.partner-container h4 {
    color: white;
    max-width: 100%;
    max-height: 100px;
    font-weight: 700;
    font-size: 36px;
    
}



.partner-name:hover {
    text-decoration: underline;

}

/* About Us */

.about-container {
    height: 700px;
    border-top: 1px solid rgb(10, 54, 10);
}

#about-bg {
    background-image: url('../images/about-bg.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-content {
    max-width: 90%;
    margin-left: 5%;
    


}

#about-content-bg {
    border: solid 0.5px green;
    background-color: rgba(4, 7, 4, 0.5);
    width: 50%;
    position:relative;
    text-align: left;
    margin-top: 5%;
    margin-left: 25%;

   
    
 
}

#about-content h2 {
    display: inline-block;
    color: white;
    text-shadow: 4x 10px 10px black;
    border-bottom: solid 1px white;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 30px;

}

#about-content p {
    color:white;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-shadow: 4x 10px 10px black;
}
