

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Abel, sans-serif;
    background-color: black;
    
}

/*Header and Nav*/

h1 {
    font-family: Anton, sans-serif;
}
#logo {
    float:left;
    margin: 40px 0 0 50px;
    font-size: 48px;
    font-weight: 300;
    color: #0577CE;
    
}

#logo > span {
    color:#75C1FB ;
    padding:2px;
}
nav {
    float:right;
    margin: 60px 5% 0 0;
    
      
}

li {
    list-style-type: none;
    padding: 60px;
    display: inline;
    font-size: 32px;
    font-weight: 200;
    
   
}

li a  {
    text-decoration: none;
    color:white;
    
    
}

li a:hover {
    text-decoration: underline;
}

